<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse container d-flex justify-content-center">
            <div class="d-flex">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark">Search</button>
            </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a type="button" class="btn btn-dark w-100" href="/form">
                        Add
                    </a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn btn-dark w-100" href="/posts">
                        Posts
                    </a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn btn-dark w-100" href="/">
                        Back
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card shadow my-5" *ngFor="let task of tasks">
        <div class="card-body">
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Task</span>
                </div>
                <input type="email" class="form-control" aria-describedby="nam-input" value={{task.title}} readonly>
            </div>
            <div class="d-flex flex-row-reverse" *ngIf="!task.completed">
                <button class="btn btn-dark mx-1" (click)="markAsDone(task._id)">
                    Mark Completed
                </button>
            </div>
        </div>
    </div>
</div>