<form class="container text-center">
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" aria-describedby="nam-input">
    </div>
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" aria-describedby="nam-input">
    </div>
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Street</span>
        </div>
        <input type="text" class="form-control" aria-describedby="nam-input">
    </div>
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <span class="input-group-text">City</span>
        </div>
        <input type="text" class="form-control" aria-describedby="nam-input">
    </div>
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Zip Code</span>
        </div>
        <input type="text" class="form-control" aria-describedby="nam-input">
    </div>
    <button class="btn btn-dark" type="submit">
        Submit
    </button>
</form>