<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse container d-flex justify-content-center">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a type="button" class="btn btn-dark" href="/">
                            Back
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form class="container text-center shadow rounded p-3 my-5" [formGroup]="userDataForm" (ngSubmit)="onUserSubmit()">
        <h1 class="text-center">
            User Form
        </h1>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="nam-input" formControlName="name" required>
        </div>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="email" class="form-control" aria-describedby="nam-input" formControlName="email" required>
        </div>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Street</span>
            </div>
            <input type="text" class="form-control" aria-describedby="nam-input" formControlName="street" required>
        </div>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text">City</span>
            </div>
            <input type="text" class="form-control" aria-describedby="nam-input" formControlName="city" required>
        </div>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Zip Code</span>
            </div>
            <input type="number" min="0" class="form-control" aria-describedby="nam-input" formControlName="zip"
                required>
        </div>
        <button class="btn btn-dark" type="submit">
            Submit
        </button>
    </form>
    <form class="container text-center shadow rounded p-3 my-5" [formGroup]="taskDataForm" (ngSubmit)="onTaskSubmit()">
        <h1 class="text-center">
            Task Form
        </h1>
        <div class="input-group my-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="nam-input" formControlName="name" required>
        </div>
        <div class="input-group my-3">
            <select class="form-select" aria-label="users select list">
                <option selected>NONE</option>
                <span *ngFor="let user of users">
                    <option value={{user._id}}>{{user.name}}</option>
                </span>
            </select>
        </div>
        <button class="btn btn-dark" type="submit">
            Submit
        </button>
    </form>
</div>