<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse container d-flex justify-content-center">
            <form class="d-flex" [formGroup]="searchDataForm" (ngSubmit)="onSubmit()">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" formControlName="search">
                <button type="submit" class="btn btn-dark">Search</button>
            </form>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a type="button" class="btn btn-dark" href="/form">
                        Add
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card shadow my-5" *ngFor="let user of users; index as i">
        <div class="card-body">
            <div>
                ID: {{i + 1}}
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="nam-input" value={{user.name}}>
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input type="email" class="form-control" aria-describedby="nam-input" value={{user.email}}>
            </div>
            <button class="btn btn-dark mx-1">
                Other Data
            </button>
            <div class="d-flex flex-row-reverse my-2">
                <button class="btn btn-dark mx-1">
                    Delete
                </button>
                <button class="btn btn-dark mx-1">
                    Update
                </button>
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Street</span>
                </div>
                <input type="text" class="form-control" aria-describedby="nam-input" value={{user.street}}>
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">City</span>
                </div>
                <input type="text" class="form-control" aria-describedby="nam-input" value={{user.city}}>
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Zip Code</span>
                </div>
                <input type="text" class="form-control" aria-describedby="nam-input" value={{user.zip}}>
            </div>
        </div>
    </div>
</div>